/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as *;
@use 'styles/forms';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-base;
  background: $color-bg;
  color: $color-text;
}