@use 'styles/variables' as *;
@use 'styles/forms';
@use 'styles/buttons';
@use 'styles/cards';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-base;
  background: $color-bg;
  color: $color-text;
}